spring:
  datasource:
    url: jdbc:postgresql://dpg-d4gttm2li9vc73ds1n50-a.singapore-postgres.render.com:5432/avengers_my4e
    username: avengers_my4e_user
    password: tpsJLgQElGednUELLbvxOWILg9E1RxRm
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
